# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*   @spencer-thompson
*   @dwsil

# Can add *.py to be owner of python files.
# Can also specify files